* {
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #f27df0;
  --primary-color: #06172b;
  --secondary-color: #1e1e1e;
  --text-color: #fff;
  --text-color-black: #1e1e1e;

  /* FONTS  */
  --anton: "Anton", sans-serif;
  --poppins: "Poppins", sans-serif;
}

body {
  box-sizing: border-box;
  background: var(--primary-color);
}

/* Header style */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  top: 0;
  background: var(--primary-color);
  width: 100%;
  .logo {
    padding: 2rem 5vw;
    a {
      color: var(--main-color);
      font-family: var(--anton);
      text-decoration: none;
      font-size: 2rem;
    }
  }

  nav {
    .nav-menu {
      display: flex;
      gap: 35px;
      align-items: center;
      a {
        font-family: var(--poppins);
        color: rgb(214, 214, 214);
        text-decoration: none;
        font-size: 1rem;
        transition: 0.8s;

        &:hover {
          transition: 0.8s;
          color: var(--main-color);
        }
      }
    }
  }

  .login-btn {
    display: flex;
    gap: 25px;
    a {
      padding: 10px 40px;
      background: var(--main-color);
      font-family: var(--poppins);
      border-radius: 20px;
      color: var(--secondary-color);
      text-decoration: none;
    }
  }

  .toggle-bar {
    display: none;
  }
  .close-bar {
    display: none;
  }
  .side-bar {
    position: fixed;
    left: -100%;
  }
  .active-sidebar {
    position: fixed;
    left: -100%;
  }
}

#hero-section {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8rem;
  padding: 2rem 5vw;
  .container {
    .col-top {
      display: flex;
      align-items: center;
      gap: 30px;
      .col-top-hero-content {
        h1 {
          font-size: 7rem;
          font-family: var(--anton);
          color: white;
          font-weight: 500;

          span {
            color: var(--main-color);
          }
        }
      }
      .col-top-hero-img {
        margin-top: -8rem;
        width: 60%;
        img {
          width: 100%;
        }
      }
    }
    .col-bottom {
      margin-top: 3rem;
      display: grid;
      grid-template-columns: repeat(2, 50%);
      gap: 20px;

      .col-bottom-content {
        p {
          font-family: var(--poppins);
          color: rgb(214, 214, 214);
        }
        .btns {
          margin-top: 2rem;
          display: flex;
          gap: 20px;
          button {
            padding: 15px 20px;
            border: 0;
            font-family: var(--poppins);
            font-size: 1rem;
            border-radius: 10px;
            background: var(--main-color);
            cursor: pointer;
            &:nth-child(2) {
              background: white;
            }
          }
        }
      }
      .col-bottom-img {
        width: 100%;
        background: url("./assets/prada.png");
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
}

#showcase {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 5em 5vw;
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    align-items: center;
    text-align: center;
    gap: 40px;

    .showcase-contnt {
      color: #fff;

      span {
        font-family: var(--poppins);
        font-size: 2rem;
        font-weight: bold;
      }
      h4 {
        font-family: var(--anton);
        font-weight: 400;
        font-size: 1.2rem;
      }
    }
  }
}

#about-section {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 5rem 5vw;

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    .about-image {
      background: url("./assets/Group\ 32.png");
      background-position: center;
      height: 410px;
      border-radius: 10px;
    }

    .about-content {
      span {
        font-size: 1.5rem;
        font-family: var(--anton);
        font-weight: 400;
        color: var(--main-color);
      }
      h2 {
        margin-top: 1rem;
        color: white;
        font-family: var(--anton);
        font-weight: 400;
        font-size: 3rem;
      }
      p {
        margin-top: 2rem;
        color: rgb(214, 214, 214);
        font-family: var(--poppins);
      }
    }
  }
}

#howto {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 5rem 5vw;
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;

    .howto-content {
      background: white;
      padding: 3rem;
      h2 {
        font-family: var(--anton);
        font-weight: 400;
        font-size: 1.8rem;
      }
      p {
        margin-top: 1rem;
        font-family: var(--poppins);
      }

      &:nth-child(2) {
        background: var(--main-color);
      }
    }
  }
}

#collection {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 5rem 5vw;
  .container {
    .collection-top {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .left {
        span {
          font-size: 1.5rem;
          font-family: var(--anton);
          font-weight: 400;
          color: var(--main-color);
        }
        h2 {
          margin-top: 10px;
          font-size: 2.5rem;
          font-family: var(--anton);
          font-weight: 400;
          color: white;
        }
      }
      .right {
        button {
          padding: 20px;
          border: 0;
          font-family: var(--poppins);
          background: var(--main-color);
          font-size: 1rem;
        }
      }
    }

    .collections-image-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
      margin-top: 1.5rem;
      .img-left {
        width: 100%;
        height: 550px;
        background: url("./assets/image1.png");
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
      }
      .right {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .imgOne{
          width: 100%;
          height: 270px;
          background: url("./assets/hmm.png");
          background-position: center;
        }
        .imgTwo {
          width: 100%;
          height: 270px;
          background: url("./assets/cryingNft.png");
          background-position: center;

        }
      }
    }
  }
}

#faq {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 5em 5vw;
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;

    .left {
      span {
        font-size: 1.5rem;
        font-family: var(--anton);
        font-weight: 400;
        color: var(--main-color);
      }
      h2 {
        margin-top: 0.5rem;
        color: white;
        font-family: var(--anton);
        font-weight: 400;
        font-size: 2rem;
      }
      p {
        margin-top: 4rem;
        color: rgb(214, 214, 214);
        font-family: var(--poppins);
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      gap: 30px;

      .question {
        border-bottom: 1px solid gray;
        .caption {
          display: flex;
          justify-content: space-between;
          cursor: pointer;
          span {
            color: var(--main-color);
            font-family: var(--anton);
            font-size: 1.5rem;
          }
          .harm {
            background: var(--main-color);
            cursor: pointer;
            width: 20px;
            height: 20px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 5px;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            span {
              width: 20px;
              height: 3px;
              background: white;
              display: block;
              border-radius: 10px;

              &:nth-child(1) {
                position: absolute;
              }

              &:nth-child(2) {
                transform: rotate(90deg);
              }
            }
          }
        }
        .answer {
          opacity: 0;
          p {
            margin-top: -2rem;
            color: rgb(214, 214, 214);
            font-family: var(--poppins);
          }
        }
      }

      .active-question {
        border-bottom: 1px solid gray;
        .caption {
          display: flex;
          justify-content: space-between;
          cursor: pointer;
          span {
            color: var(--main-color);
            font-family: var(--anton);
            font-size: 1.5rem;
          }
          .harm {
            background: var(--main-color);
            cursor: pointer;
            width: 20px;
            height: 20px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 5px;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            span {
              width: 20px;
              height: 3px;
              background: white;
              display: block;
              border-radius: 10px;
              transition: 0.5s;

              &:nth-child(1) {
                position: unset;
              }

              &:nth-child(2) {
                transform: rotate(90deg);
                display: none;
              }
            }
          }
        }
        .answer {
          transition: 0.5s;
          opacity: 1;
          p {
            margin-top: 2rem;
            color: rgb(214, 214, 214);
            font-family: var(--poppins);
            margin-bottom: 10px;
            transition: 0.5s;
          }
        }
      }
    }
  }
}

#team {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 5rem 5vw;
  .container {
    .team-top {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .left {
        span {
          font-size: 1.5rem;
          font-family: var(--anton);
          font-weight: 400;
          color: var(--main-color);
        }
        h2 {
          margin-top: 10px;
          font-size: 2.5rem;
          font-family: var(--anton);
          font-weight: 400;
          color: white;
        }
      }
      .right {
        button {
          padding: 20px;
          border: 0;
          font-family: var(--poppins);
          background: var(--main-color);
          font-size: 1rem;
        }
      }
    }

    .team-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
      margin-top: 2rem;
      .team {
        width: 100%;
        height: 350px;
        background: url("./assets/team1.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &:nth-child(2){
          width: 100%;
          height: 350px;
          background: url("./assets/team2.png");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }

        &:nth-child(3){
          width: 100%;
          height: 350px;
          background: url("./assets/team3.png");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }

    .about-team {
      margin-top: 2rem;
      .col {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
        align-items: center;

        .col-image {
          width: 100%;
          height: 440px;
          background: url("./assets/ABOUT.png");
          background-position: center;
        }

        .col-content {
          h2 {
            color: var(--text-color);
            font-family: var(--anton);
            font-weight: 400;
            font-size: 2.2rem;
          }
          p {
            margin-top: 2rem;
            color: rgb(214, 214, 214);
            font-family: var(--poppins);
          }

          .about-content {
            display: flex;
            margin-top: 5rem;
            justify-content: space-between;
            align-items: center;

            .content {
              span {
                font-family: var(--anton);
                font-size: 2rem;
                color: var(--main-color);
              }
              p {
                width: 80%;
                margin-top: 1rem;
              }
            }
            .line {
              width: 3px;
              height: 100px;
              background: rgba(128, 128, 128, 0.411);
              margin-right: 50px;
              border-radius: 10px;
            }
          }
        }
      }
    }
  }
}

#blog {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 5rem 5vw;
  .container {
    .blog-top {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .left {
        span {
          font-size: 1.5rem;
          font-family: var(--anton);
          font-weight: 400;
          color: var(--main-color);
        }
        h2 {
          margin-top: 10px;
          font-size: 2.5rem;
          font-family: var(--anton);
          font-weight: 400;
          color: white;
        }
      }
      .right {
        button {
          padding: 20px;
          border: 0;
          font-family: var(--poppins);
          background: var(--main-color);
          font-size: 1rem;
        }
      }
    }

    .blog-content-container {
      margin-top: 3rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;

      .blog-content {
        margin-top: 30px;
        .blog-image {
          width: 100%;
          height: 300px;
          background: url("./assets/blog-image1.png");
          background-position: center;
          background-size: cover;
          margin-bottom: 20px;
        }

        .blog-title {
          background: var(--main-color);
          padding: 5px;
          font-family: var(--anton);
          font-size: 1.4rem;
        }

        .blog-date {
          margin-top: 1rem;
          color: white;
          font-family: var(--poppins);
          display: flex;
          gap: 20px;
        }

        .blog-text {
          margin-top: 10px;
          color: white;
          font-family: var(--anton);

          h4 {
            font-weight: 400;
            font-size: 1.8rem;
          }
        }

        &:nth-child(2){
          .blog-image{
            width: 100%;
            height: 300px;
            background: url("./assets/blog-image2.png");
            background-position: center;
            background-size: cover;
            margin-bottom: 20px;
          }
        }
        &:nth-child(3){
          .blog-image{
            width: 100%;
            height: 300px;
            background: url("./assets/blog-image3.png");
            background-position: center;
            background-size: cover;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

footer {
  background: #030c16;
  .container {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 5rem 5vw;

    .send-nd-join {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      align-items: center;
      gap: 30px;

      .send-message {
        display: flex;
        justify-content: center;
        flex-direction: column;
        span {
          color: white;
          font-family: var(--anton);
          font-size: 1.5rem;
        }

        input {
          margin-top: 1rem;
          padding: 15px;
          font-size: 18px;
          border: 0;
          background: #06172b;
          border-radius: 10px;
        }
      }

      .join {
        span {
          color: white;
          font-family: var(--anton);
          font-size: 1.5rem;
        }

        .social-media {
          margin-top: 1rem;
          display: flex;
          gap: 30px;
          span {
            background: #06172b;
            padding: 10px;
            border-radius: 10px;
            display: flex;
            align-items: center;
          }
        }
      }
    }

    .footer-content {
      margin-top: 3rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;

      .left-content {
        .logo {
          a {
            color: var(--main-color);
            font-family: var(--anton);
            text-decoration: none;
            font-size: 2rem;
          }
        }
        p {
          margin-top: 10px;
          font-family: var(--poppins);
          color: rgb(214, 214, 214);
        }
      }
      .right-content {
        display: flex;
        gap: 100px;
        .menu {
          display: flex;
          flex-direction: column;
          gap: 20px;

          span {
            color: white;
            font-family: var(--anton);
            font-size: 1.4rem;
          }
          a {
            color: rgb(155, 153, 153);
            text-decoration: none;
            font-family: var(--poppins);
          }
        }
      }
    }
    .copyright{
      color: rgb(155, 153, 153);
      font-family: var(--poppins);
      margin-top: 4rem;
    }
  }
}

@media (max-width: 1150px) {
  #hero-section {
    .container {
      .col-top {
        .col-top-hero-content {
          h1 {
            font-size: 6rem;
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  #hero-section {
    .container {
      .col-top {
        .col-top-hero-content {
          h1 {
            font-size: 5rem;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  header {
    nav,
    .login-btn {
      display: none;
    }

    .toggle-bar {
      display: flex;
      flex-direction: column;
      gap: 6px;
      cursor: pointer;
      padding: 2rem 5vw;
      span {
        width: 30px;
        height: 3px;
        background: white;
        display: block;
        border-radius: 30px;
        transition: 0.8s;
      }
    }
    .close-bar {
      display: flex;
      padding: 2rem 5vw;
      flex-direction: column;
      cursor: pointer;
      span {
        width: 30px;
        height: 3px;
        background: white;
        display: block;
        border-radius: 30px;

        &:nth-child(2) {
          display: none;
        }
        &:nth-child(1) {
          transform: rotate(50deg);
          position: absolute;
          transition: 0.8s;
        }
        &:nth-child(3) {
          transform: rotate(-50deg);
          transition: 0.8s;
        }
      }
    }

    .side-bar {
      background: #05101b;
      top: 0;
      height: 100svh;
      width: 50dvw;
      transition: 0.8s;
      .logo {
        padding: 1rem;
        padding-top: 2rem;
      }
      .nav-menu {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 3rem;

        a {
          color: rgb(214, 214, 214);
          font-family: var(--poppins);
          text-decoration: none;
          font-size: 1rem;
        }
      }
      .login-btn {
        display: block;
        position: absolute;
        bottom: 2rem;
        left: 1rem;
      }
    }
    .active-sidebar {
      background: #05101b;
      left: 0;
      top: 0;
      height: 100svh;
      width: 50dvw;
      transition: 0.8s;
      .logo {
        padding: 1rem;
        padding-top: 2rem;
      }
      .nav-menu {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 3rem;

        a {
          color: rgb(214, 214, 214);
          font-family: var(--poppins);
          text-decoration: none;
          font-size: 1rem;
        }
      }
      .login-btn {
        display: block;
        position: absolute;
        bottom: 2rem;
        left: 1rem;
      }
    }
  }

  #hero-section {
    .container {
      .col-top {
        .col-top-hero-content {
          h1 {
            font-size: 4rem;
          }
        }
        .col-top-hero-img {
          display: none;
        }
      }

      .col-bottom {
        display: flex;
        flex-direction: column-reverse;
        .col-bottom-img {
          height: 200px;
          width: 100%;
        }
      }
    }
  }

  #faq{
    .container{
      .left{
        p{
          margin-top: 2rem;
        }
      }
      .right{
        margin-top: 3rem;
      }
    }
  }

  #collection{
    .container{
      .collection-top{
        .right{
          display: none;
        }
      }
      .collections-image-container{
        .img-left{
          height: 400px;
        }
      }
    }
  }

  #team{
    .container{
      .team-top{
        .right{
          display: none;
        }
      }
    }
  }

  #blog{
    .container{
      .blog-top{
        .right{
          display: none;
        }
      }
    }
  }


  footer {
    .container {
      padding: 3rem 5vw;
      .footer-content {
        .right-content {
          margin-top: 10px;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
          gap: 20px;
        }
      }
    }
  }
}
